[Unit]
 Description=pypi-info: NR command proccesser
 After=multi-user.target network.target
 Wants=network.target

[Service]
 Type=simple
 User=pi
 Restart=on-failure
 RestartSec=5s
 StartLimitBurst=5
 StartLimitIntervalsec=10
 StartLimitAction=reboot
 Restart=always
 RuntimeMaxSec=1d
 ExecStart=/usr/bin/python3 /home/pi/.pypiinfo/pypi-info.py
 
[Install]
 WantedBy=multi-user.target

#[Unit]
# Description=pypi-info: NR command proccesser
# After=multi-user.target network.target 
# Wants=network.target
#
#[Service]
# Type=idle
# ExecStart=/usr/bin/python3 /home/pi/.pypiinfo/pypi-info.py
# User=pi
# StandardOutput=syslog
# StandardError=syslog
# SyslogIdentifier=pypi-info
# Restart=always
#
#[Install]
# WantedBy=multi-user.target
