[Unit]
 Description=pypi-info: NR command proccesser
 After=multi-user.target network.target 
 Wants=network.target

[Service]
 Type=simple
 ExecStart=/usr/bin/python3 /home/pi/.pypiinfo/pypi-info.py
 User=pi
 #Use SIGINT to stop
 KillSignal=SIGINT
 StandardOutput=syslog
 StandardError=syslog
 SyslogIdentifier=pypi-info
 #Auto restart on crash
 Restart=on-failure
# RemainAfterExit=no
 RestartSec=5s
 
[Install]
 WantedBy=multi-user.target
